[Unit]
Description=Cores directory
After=storage.mount
After=systemd-tmpfiles-setup.service

[Mount]
What=none
Where=/tmp/cores
Type=overlay
Options=lowerdir=/usr/lib/libretro,upperdir=/storage/.config/retroarch/cores,workdir=/storage/.tmp/cores-workdir

[Install]
WantedBy=kodi.target
