<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Settings">
    	<setting id="ask" type="bool" label="Ask for confirmation at exit Kodi" default="true"/>
    	<!-- <setting type="sep"/> -->
    	<setting id="retroplayer" type="bool" label="Use RetroPlayer installed cores only (Clean cores directory)" default="false"/>
        <setting label="Download Libretro cores full package..." type="action" action="RunScript(/storage/.kodi/addons/game.retroarch/extras.py, SetLocation, cores)"/>
    </category>
</settings>